*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
html{
    scroll-behavior: smooth;
}
:root{
    --couleurBleu: rgba(5, 33, 59, 0.274);
    --couleurNavbar: rgb(1, 21, 22);
    --bleuPrincipal: #0ef;
    --blanc: white;
    --noir: black;
    --girs: grey;
    --blancPoints: rgba(255, 255, 255, 0.336);
}
body{
    min-height: 100vh;
    background-color: var(--noir);
    width: 100%;
}
::-webkit-scrollbar{
    background-color: var(--noir);
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(var(--blanc), var(--bleuPrincipal));
    border-radius: 18px;
}

.navbar{
    background-color: var(--couleurNavbar);
    box-shadow: 0 3px 5px var(--blanc);
}
.elementNavBar{
    position: relative;
}
.navbar-brand{
    font-size: 32px;
    font-weight: bold;
    color: var(--blanc);
    background: linear-gradient(to right, var(--blanc), var(--bleuPrincipal), var(--blanc));
    background-clip: text;
    color: transparent;
    text-decoration: none;
}
.navbar-brand:hover{
    background: linear-gradient(to right, var(--blanc), var(--bleuPrincipal), var(--blanc));
    background-clip: text;
    color: transparent;
}
.navbar-nav{
    color: var(--blanc);
    position: absolute;
    right: 0;
}
@media (max-width: 992px){
    .navbar-nav{
        position: relative;
    }
}
.nav-link{
    color: var(--girs);
    font-size: 22px ;
    margin-right: 20px;
    width: max-content;
}
.nav-link:hover{
    color: var(--blanc);
    transition: 0.3s;
    border-bottom: solid var(--bleuPrincipal);
    text-shadow: 0px 0px 4px var(--noir);
}

.nav-link.activee{
    color: var(--bleuPrincipal);
    text-shadow: 0px 0px 4px var(--noir);
    border-bottom: solid var(--bleuPrincipal);   
}
.navbar-toggler{
    color: var(--blanc);
    background-color: var(--bleuPrincipal);
    border: solid var(--bleuPrincipal);
}
.AnglaisFrancais{
    display: flex;
    justify-content: left;
    align-items: center;
}
.francais{
    border: solid 1px;
    background-color: var(--couleurNavbar);
    width: 60px;
    text-align: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: var(--girs);
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.francais:hover{
    color: var(--blanc);
    opacity: 0.9;
}
.anglais{
    border: solid 1px;
    background-color: var(--couleurNavbar);
    width: 60px;
    text-align: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: var(--girs);
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.anglais:hover{
    color: var(--blanc);
    opacity: 0.9;
}
.langueActive{
    background-color: var(--bleuPrincipal);
    color: var(--noir);
    text-shadow: 1px 1px 5px var(--blanc);
}
.langueActive:hover{
    background-color: var(--bleuPrincipal);
    color: var(--noir);
    text-shadow: 1px 1px 5px var(--blanc);
}
.ven{
    display: none;
}
.points{
    position: fixed;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 2px 2px 3px var(--blancPoints);
    animation: pts 45s infinite ease-in-out alternate;
    background-color: var(--blancPoints);
}

@keyframes pts {
    50%{transform: translateX(65px);}
    100%{transform: translateY(65px);}
}

.pointss{
    position: fixed;
    background-color: var(--blancPoints);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 2px 2px 3px var(--blancPoints);
    animation: ptss 45s infinite ease-in-out alternate;
}

@keyframes ptss {
    50%{transform: translateX(-65px);}
    100%{transform: translateY(-65px);}
}

.div1{
    background-color: var(--couleurBleu);
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--blanc);
    background-color: var(--couleurNavbar);
    flex-wrap: wrap;
    z-index: 2;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footerIcons a{
    text-decoration: none;
    color: var(--blanc);
}
.footerContain{
    position: relative;
    left: -80px;
}
.footerIcons svg{
    margin: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    right: -80px;
    z-index: 3;
}
.footerIcons svg:hover{
    color: var(--bleuPrincipal);
    transform: translateY(-4px);
    box-shadow: 0 4px 5px var(--bleuPrincipal);
}
.pages{
    min-height: 82vh;
    background-color: var(--couleurBleu);
    color: var(--blanc);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-top: 50px;
    padding-bottom: 20px;
    padding-left: 220px;
    padding-right: 220px;
}
.pages.about{
    flex-wrap: wrap;
    min-height: 95vh;
    padding-bottom: 0px;
}
.pages.proj{
    padding-top: 70px;
    padding-bottom: 0px;
    min-height: 50vh;
    justify-content: center;
}
.pages.proj .contain{
    width: 1281px;
    padding: 10px;
}
.pages p{
    font-size: 28px;
}
.pages h1{
    font-size: 62px;
    font-weight: bold;
}

.pages h2{
    font-size: 48px;
    color: var(--girs);
    font-weight: bold;
}

.textBleu{
    color: var(--bleuPrincipal);
}

.pages.home button{
    padding: 11px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    z-index: 3;
}
.pages.home .img{
    position: fixed;
    transition: 1s;
    animation: 10s infinite ease-in-out alternate planete ;
    z-index: -1;
    width: 70%;
    height: 80%;
}
.pages.proj img{
    top: 14vh;
}
.contain{
    width: 650px;
}
.pages.home .img2{
   z-index: 3;
}
.pages.home .img2 img{
    box-shadow: 0 0 3px var(--bleuPrincipal);
    width: 450px;
    height: 45vh;
    border-radius: 15px;
    box-shadow: 0px 0px 9px var(--bleuPrincipal);
    animation: 2s linear myimage2 .1s;
}

@keyframes myimage2{
    0%{
        width: 350;
        height: 35vh;
        filter: blur(10px);
        opacity: 0;
    }
    100%{
        width: 450px;
       height: 45vh;
       opacity: 1;
       filter: blur(0);
    }
}
@media(max-width: 1462px){
.pages.home .img2{
    margin-top: 75px;
    margin-bottom: 25px;
}
}
@media(max-width: 840px){
    .pages.home .img2 img{
    width: 85vw;
    height: 50vh;
    animation: none;
    }
    .pages{
        padding: 20px;
    }
    .contain{
      white-space: wrap;
    }
    .footerContain{
        left: 0;
    }
    .footerIcons svg{
        right: 0;
    }
}

@media(max-width: 669px){
    .pages.home img{
        width: 60%;
        height: 60%;
    }
    .pages p{
        font-size: 18px;
    }
    .pages h1{
        font-size: 35px;
    }

    .pages h2{
        font-size: 25px;
    }
}
@keyframes planete{
    0%{
        transform: translateY(-28px);
        opacity: 0.2;
    }
    100%{
        transform: translateY(28px);
        opacity: 0.4;
    }
}
.boutton1{
    background: linear-gradient(to right top, var(--bleuPrincipal), var(--blanc) 0%, var(--bleuPrincipal));
    color: var(--noir);
    border-color: var(--blanc);
    margin-right: 15px;
    margin-bottom: 15px;
    transition: .5s;
}
.boutton1:hover, .boutton2:hover{
    opacity: 0.6;
}
.welcome{
    overflow: hidden;
    animation: welcome 2s linear 1;
}
@keyframes welcome{
    0%{
        white-space: nowrap;
        width: 0%;
        filter: blur(10px);
        opacity: 0.7;
    }
    100%{
        white-space: nowrap;
        width: 100%;
        filter: blur(0);
        opacity: 1;
    }
}

.top1{
    animation: top 2s linear 1;
}
.top2{
    animation: top 2s linear 1 .1s;
}
.top3{
    animation: top 2s linear 1 .13s;
}
@keyframes top{
    0%{
        filter: blur(10px);
        opacity: 0;
        transform: translateY(70px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
}

#About, #Projects, #Galery, #Contact {
    display: none;
}

.skillsAbout{ 
    min-height: 100vh;
    background-color: var(--couleurBleu);
    color: var(--blanc);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.skillContain{
    width: 100%;
    padding: 20px;
}

.skillContain .titleSkill p{
    text-align: center;
    font-weight: bold;
    color: var(--bleuPrincipal);
    font-size: 35px;
}
.skillElements{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.skillContain.proj{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
}
.skillElements.proj{
    gap: 20px;
    width: 1281px;
}
.skillElements.proj .skillItems{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillElements.services{
    gap: 20px;
    width: 1281px;
    display: block;
    margin-top: -50px;
}
.skillElements.services .skillItems{
    width: 100%;
    height: max-content;
    margin-bottom: 20px;
}
.skillElements.services .skillItems h2{
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    color: var(--bleuPrincipal);
    margin-bottom: 30px;
}
.skillElements.services .skillItems .skill_services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    height: 80%;
    width: 100%;
    font-size: 20px;
}
.skillElements.services .skillItems .skill_services .img img{
    width: 442px;
    height: 305px;
}
@media (max-width: 600px){
    .skillElements.services .skillItems .skill_services .img img{
        width: 100%;
    }

}
.skillElements.services .skillItems .skill_services .text{
    font-size: 19px;
}
@media (max-width: 417px){
    .skillElements.proj .skillItems{
        width: 100%;
    }
}
.boutton1.projstyle{
    margin: 2px;
}
.boutton2.projstyle{
    margin: 5px;
}
.boutton2.proj{
    position: absolute;
    z-index: 101;
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
    color: var(--noir);
    background-color: var(--blanc);
    box-shadow: 0 0 5px var(--noir);
    border: none;
    cursor: pointer;
    transition: 0.4s;
    opacity: 1;
    width: 90%;
}
.boutton2.proj:hover{
    background-color: var(--blanc);
}

.skillElements.proj .skillItems img{
    position: absolute;
    height: 95%;
    width: 95%;
    z-index: 0;
    border-radius: 15px;

}
.projet_descript_Image{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 5%;
    width: 100%;
    height: 100%;
    background-color: var(--couleurNavbar);
    text-align: center;
    color: var(--blanc);
    font-weight: bold;
    opacity: 0;
    padding: 10px;
    z-index: 200;
    transition: .1s;
    transform: translateY(50px);
}
.projet_descript_Image:hover{
    opacity: 1;
    transform: translateY(0);
}

.projet_descript_Image h3{
    font-size: 25px;
    font-weight: bold;
    color: var(--bleuPrincipal);
}
.projet_descript_Image p{
    font-size: 18px;
}
.projet_descript_Image .tech_proj{
    box-shadow: 0 0 3px var(--couleurBleu);
    background-color: var(--couleurBleu);
    color: var(--blanc);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    white-space: nowrap;
    width: max-content;
    display: inline-block;
}
.projet_descript_Image a{
    text-decoration: none;
}
.projet_descript_Image .code{
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    color: var(--noir);
    background-color: var(--bleuPrincipal);
}
.hover_itemImagesDesc {
    animation: 0.4s itemImagesDesc ease-out;
    opacity: 1;
}
@keyframes itemImagesDesc{
    0%{
        transform: translateY(400px);
    }
    100%{
        transform: translateY(0);
    }
}
.skillItems{
    position: relative;
    box-shadow: 0 0 3px var(--blancPoints);
    height: 423px;
    width: 407px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--couleurNavbar);
    transition: 0.5s;
    overflow: hidden;

}
.skillItems:hover{
    box-shadow: 0px 2px 3px var(--bleuPrincipal);
    transform: translateY(-3px);
}
progress{
    appearance: none;
    width: 100%;
    height: 10px;
}
progress::-webkit-progress-value{
    background-color: var(--bleuPrincipal);
    border-radius: 20px;
}
progress::-webkit-progress-bar{
    border-radius: 20px;
    background-color: var(--blancPoints);
}
.skillProgess{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.skillProgess p{
    font-weight: bold;
    font-size: 18px;
}
.skillProgess p:nth-child(2){
    color: var(--bleuPrincipal);
}
.skillTitle{
    color: var(--bleuPrincipal);
    font-weight: bold;
    
}
.anime-on-scroll {
  opacity: 0;
  transform: translateY(100px);
  transition: all 2s ease-out;
}

.anime-on-scroll.active {
  opacity: 1;
  transform: translateY(-10px);
}
.contain_tech{
    display: flex;
    justify-content: center;
    width: 100%;
}
.technologies{
    box-shadow: 0 0 3px var(--blancPoints);
    display: flex;
    width: 1281px;
    justify-content: space-around;
    padding: 20px;
    background-color: var(--couleurNavbar);
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 25px;
}
.tech_item{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--couleurNavbar);
    box-shadow: 0px 0px 3px var(--blancPoints);
    padding: 6px;
    transition: 0.5s;
}
.tech_item:hover{
    transform: translateY(-3px);
    border-color: var(--bleuPrincipal);
    box-shadow: 0 2px 3px var(--bleuPrincipal);
}
.tech_item img{
    width: 80px;
    height: 80px;
}
.tech_item svg{
    width: 80px;
    height: 80px;
}
.tech_item .tech_img_desc{
    margin-top: 10px;
}